global
    stats socket /var/lib/haproxy/stats
    maxconn     256  
    daemon
defaults
    mode                    http
    timeout http-request    10s
    timeout queue           1m
    timeout connect         5000
    timeout client          50000
    timeout server          50000
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 128

frontend  main
    bind *:80
    default_backend servers
backend servers
    balance     roundrobin
{% for item in groups['web'] %}
    server {{ hostvars.item.ansible_facts.hostname }} {{ hostvars.item.ansible_facts.eth1.ipv4.address }}:80 weight 10 check port 80
{% endfor %}
    server web1 192.168.60.6:80 weight 10 check port 80
    server web2 192.168.60.7:80 weight 10 check port 80
    option httpchk HEAD /index.php HTTP/1.0

---
# tasks/main.yml

- name: included task file in tasks/main.yml
  include_tasks: my_task_file.yaml

- name: placeholder foo
  command: /bin/foo

- name: placeholder bar
  command: /bin/bar